html, body {
  margin:0;
  font-family:sans-serif;
}

.sig {
  padding:0 25px;
  text-align:center;
  color:#09f;
  a {
    color:#09f;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

$height: 60px;
$todayBGColor: lightyellow;
$default-grey: #ccc;
$light-grey: #dfdfdf;
$default-border: 1px solid $default-grey;

@mixin border-radius($rad) {
  -webkit-border-radius:$rad;
  -moz-border-radius:$rad;
  -o-border-radius:$rad;  
  border-radius:$rad;  
}

@mixin anime($prop, $dur) {
  -webkit-transition: $prop, $dur;
  -moz-transition: $prop, $dur;
  -o-transition: $prop, $dur;
  transition: $prop, $dur;  
}

.simple-calendar {
  margin:25px;
  .month-label {
    font-size:1.8em;
    font-weight:bold;
    text-transform:capitalize;
    small {
      font-size:0.65em;
      font-weight:normal;
      color:#999;
      &:before {
        content:"//";
        display:inline-block;
        margin-right:5px; 
      }
    }
  }
  .calendar-ctrl {
    text-align:center;
    margin-top:10px;
    padding-bottom:10px;
    border-top:$default-border;
    border-top-style:dashed;
    border-top-color:$light-grey;
    span {
      font-size:0.4em;
      padding:5px 10px;
      border:$default-border;
      border-color:$light-grey;      
      font-weight:normal;
      text-transform:uppercase;
      cursor:pointer;
      background-color:white;
      @include border-radius(20px);
      @include anime(background-color, 300ms);      
      &:hover {
        background-color:$light-grey;
      }
      &:active {
        background-color:$default-grey;
      }
    }
    .prev,
    .next {
      &:hover {
        &:before,
        &:after {
          background-color:white;
        }
      }
    }
    .prev:before,
    .next:after {
      content:"";
      display:inline-block;
      height:8px;
      width:8px;
      background-color:$default-grey;
      @include border-radius(100%);
      @include anime(background-color, 300ms);  
      &:hover {
        background-color:white;
      }      
    }  
    .prev:before {
      margin-right:5px;
    }
    .next:after {
      margin-left:5px;
    }    
    .reset {
      margin:0 10%;
    }    
  }
  .calendar-container {
    &:before,
    &:after {
      content:"";
      display:table;
    }
    &:after {
      clear:both;
    }
  }
  .day {
    float:left;
    width:14.24%;  
    background-color:white;
    &.today {
      background-color:$todayBGColor;
    }
    @media screen and (min-width:321px) {    
      &:nth-child(-n+7) {
        border-top:$default-border;
      }
      &:nth-child(7n) {
        border-right:$default-border;
      }
      &:nth-child(7n+1) {
          clear:left;            
      }  
    }
  }
  .day-container {
    height:$height;
    text-align:center;
    border:$default-border;
    border-top:0;
    border-right:0;
    font-size:1.2em;
  }
  .day-label {
    text-transform:capitalize;
    display:block;
    color:$default-grey;
    font-size:0.6em;
    padding:5px 0;
  } 
}

@media screen and (max-width:320px) {
  .simple-calendar {
    .calendar-container {
      border:$default-border;   
      border-left:0;   
    }
    .day {     
      width:33.334%; 
      &.skip {
        display:none;
      }
    }
  }
}
